@import 'base.css';

/*
TABLE OF CONTENTS
=================
- global
- nav
- form
- results

- tablet media query
- desktop media query
*/

/*
global
*/
body {
  background-color: var(--lightestBlue);
  color: var(--navy);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--navy);
}

nav {
  border-top: 5px solid var(--blue);
  position: static;
  background-color: var(--lightBlue);
}

nav .content {
  max-width: 1280px;
}

nav a,
nav a.brand {
  color: var(--blue);
  font-weight: 900;
}

/*
header
*/
header {
  background-color: var(--lightBlue);
  height: 250px;
}

/*
#form
*/
#form .content {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0.5rem;
  margin-top: -200px;
}

#form h1 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-top: 3px solid var(--red);
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-color: var(--white);
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
}

#form fieldset {
  border: none;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5rem;
}

#form fieldset:last-of-type {
  display: flex;
  flex-direction: column;
}

#form fieldset label {
  width: 34%;
}

#form form select,
#form input {
  width: 66%;
  height: 35px;
  border-radius: 5px;
  margin-left: 10px;
  background-color: var(--lightestBlue);
  border: 2px solid #cfe4f9;
}

#form input[type='checkbox'] {
  height: 40px;
  width: 40px;
  margin: 0;
  background-color: var(--lightestBlue);
}

#form form label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

#form button {
  display: block;
  width: 100%;
  font-size: 1rem;
}

#form button.secondary {
  background-color: var(--lightBlue);
  color: var(--blue);
}

#form button:last-child {
  margin-top: 0.5rem;
}

/*
results
*/

#results .container {
  background-color: transparent;
  max-width: 1280px;
  padding: 0 0.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#results h2 {
  margin: 0;
}

#results hr {
  margin-bottom: 2rem;
  border: 1px solid var(--lightBlue);
}

#results .message {
  margin-bottom: 0;
}

#results .card {
  border-radius: 2px;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
}

#results .card:first-child {
  border-top: 3px solid var(--yellow);
}

#results .card:last-child {
  border-top: 3px solid var(--green);
}

#results .card canvas {
  margin: 0;
}

footer {
  background-color: var(--lightestBlue);
  color: var(--navy);
}

@media only screen and (min-width: 768px) {
  header {
    background-color: var(--lightBlue);
    height: 125px;
  }

  #form form {
    flex-direction: row;
  }
  #form .content {
    margin-top: -75px;
  }

  #form form {
    padding: 1rem;
  }

  #form form select,
  #form input {
    width: 100%;
    margin-left: 0px;
  }

  #form fieldset label {
    width: 100%;
  }

  #form input[type='checkbox'] {
    margin-left: -10px;
  }

  #form fieldset {
    flex-direction: column;
  }

  #results .allocation-container {
    display: flex;
  }

  #results #current-position {
    width: 33%;
    display: flex;
    align-items: center;
  }

  #results #allocation-chart {
    height: 66% !important;
    width: 66% !important;
  }
}

@media only screen and (min-width: 1280px) {
  header {
    height: 135px;
  }

  #form .content {
    margin-top: -75px;
  }

  #form form {
    padding: 1rem;
  }

  #form form select,
  #form input {
    width: 100%;
    margin-left: 0px;
  }

  #form input[type='checkbox'] {
    margin-left: -10px;
  }

  #form fieldset {
    flex-direction: column;
  }

  #results .container {
    flex-direction: row;
    justify-content: space-between;
  }

  #results .card {
    min-height: 600px;
  }

  #results .card:first-child {
    width: 25%;
    display: flex;
    flex-direction: column;
  }

  #results .card:last-child {
    width: calc(75% - 1rem);
  }

  #results .allocation-container {
    flex-direction: column;
    margin: 25% 0 75% 0;
  }

  #results #current-position {
    width: 100%;
    display: flex;
    align-items: center;
  }

  #results #allocation-chart {
    height: 100% !important;
    width: 100% !important;
  }
}
